/* global styles */

:root {--global-color-1: #0000cc}



/* the styles for the elements */
body {
	max-width: 80%;
	margin: auto;
	background-color: AliceBlue;
	
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}


header{
	padding-bottom: .0em;
	background-color: #CCE6FF;  
}

header h1 {
	font-size: 170%;
	color: var(--global-color-1);
	text-align: center;
}

header #shadow{
	
	text-shadow: 2px 2px #ccccff;
}

header ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #004D99;
	
}

header ul li{
	float: left;
}

header ul li a{
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

header ul li a:hover{
	background-color: #F0FFFF;
	color: var(--global-color-1);
	font-style: italic;
}



main {

	width: calc(67% - 20px);
	margin: auto;
	height: 350px;
	float: left;
	color: #FFFFFF;
	background-color: #191970;
	padding: 10px;
}

main h3{
	color : #FFFFFF;
}

main div{
	display:flex;
	justify-content: center;
}
aside {
	width: calc(33% - 20px);
	height: 350px;
	float: right;
	background-color: #004D99; /* #0000CD  */
	padding: 10px;
}

aside h3, p {
	color : #FFFFFF;
}
aside ol{

	color: #FFA500;
}

aside a{
	color: #FFA500;
}

aside a:hover, a:active {
	font-style: italic;
}

footer { 
	clear: both;
	background-color: #CCE6FF; }

footer .footer-container{
	display: flex;
	
}

footer .footer-container > div{
	width: 50%;
	
}

footer h5 {
	color: var(--global-color-1);
	text-indent: 10px;
	font-size: 80%;
	text-align: left;
}


/* the styles for the header 
header img {
	float: left;
}

header h1 {
	font-size: 170%;
	color: var(--global-color-1);
	text-indent: 10px;
}

header h3 {
	font-size: 130%;
	font-style: italic;
	text-indent: 10px;
}

header #shadow{
	
	text-shadow: 1px 1px #ccccff;
	
}

header ul.a{
	list-style-position:inside;
	
}

/* the styles for the main content */

/*
main section{
	margin-left: 30px;
}
main h1 {
	font-size: 150%;
	color: var(--global-color-1);
	
}
main h3 {
	color: var(--global-color-1);

	
}

main #intro{
	color: #000080;
	font-style: italic;
	text-indent: 10px;
}

main .shadow2{
	
	text-shadow: 1px 1px #ccccff;
	
}

main ol{
	font-size: 90%;
	color: #000080;
	
}

main p{
	color: #000080;
}

/* the styles for links */

/*
a:hover, a:active {
	font-style: italic;
}

/* the styles for the footer */
/*
footer .footer-container{
	display: flex;
	
}

footer .footer-container > div{
	width: 50%;
	
}

footer h5 {
	color: var(--global-color-1);
	text-indent: 10px;
	font-size: 80%;
	text-align: left;
}

